@font-face {
  font-family: StarW;
  src: url(/public/fonts/Starjhol.ttf);
}

.person-detail-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px);
  margin: 20px;
  margin-bottom: 70px;
  max-width: 1000px;
}

.person-detail {
  width: 100%;
  background-color: rgba(77, 77, 77, 0.5);
  padding: 10px 5px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.171);
  color: white;
  border-radius: 4px;
  transition: ease-in-out .30s;
  text-transform: lowercase;
}

.person-detail > div > * {
  padding: 10px;
}

.person-detail > div {
  width: 100%;

  & p {
    margin: 20px;
  }
}


.person-detail h3 {
  font-size: 2rem;
  margin: 0 5px;
  text-align: center;
  font-family: Jedi;
  letter-spacing: 0.15ch;
  font-weight: 400;
}

.person-detail h4 {
  font-size: 1.2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.person-detail > div > p {
  font-size: 1.1rem;
  line-height: 1.5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.person-detail img {
  width: 50%;
  margin: 10px;
  border-radius: 4px;
}

.person-detail button {
  margin: 0 auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
  font-weight: 800;
  color: yellow;
  border-radius: 5px;

  &:hover {
    color: rgb(255, 255, 116);
    cursor: pointer;
  }
}